.about-us-section {
  background-color: #ffffff;
  width: 1150px;
  margin: 0 auto;
  outline: 1px solid #ff0000;
}

.about-us-section__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-us-section__item {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #000000;
}
