.about-us-section__wrapper {
  padding: 0 30px;
  margin-bottom: 28px;

  @media (min-width: 1150px) {
    padding: 0 160px;
  }
}

.about-us-section__title {
  margin-bottom: 28px;
}

.contacts-section-button__hidden {
  display: none;

  @media (min-width: 1150px) {
    display: block;
    padding: 16px 38px;
    max-width: 150px;
    margin: 0 auto;
  }
}
