.color-section {
  margin-bottom: 10px;

  @media (min-width: 768px) {
    background-color: #f1f1f1;
  }
}

.color-section__wrapper {
  width: 90%;
  min-width: 320px;
  max-width: 1150px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 87%;
  }

  @media (min-width: 1150px) {
    width: 81%;
  }
}
