.color-section-form {
  padding: 0 30px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 50px 0 26px;
  }

  @media (min-width: 1150px) {
    grid-template-columns: 12.2% 83%;
    padding-top: 49px;
  }
}

.color-section-form__legend {
  position: relative;
  width: 100%;
  margin-bottom: 25px;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #63d1bb;
    top: 50%;
    left: 60px;
    right: 0;
  }
}

.color-section-form__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  display: block;

  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: 768px) {
    padding-top: 17px;
  }
}

.color-section-form__checkbox-list {
  padding: 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  @media (min-width: 1150px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.color-section-form__checkbox-elements {
  position: relative;
  padding-left: 61px;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding-bottom: 21px;

  @media (min-width: 768px) {
    padding-bottom: 36px;
    padding-left: 81px;
  }
}

.checkbox__control-mark {
  position: absolute;
  left: 0;
  top: 0;
  width: 38px;
  height: 38px;
  border: 2px solid #444444;
  box-sizing: border-box;

  @media (min-width: 768px) {
    width: 52px;
    height: 52px;
  }

  &:hover {
    border: 2px solid #62d1ba;
  }

  &:active {
    border: 2px solid rgba(0, 0, 0, 0.3);
  }
}

.checkbox-elements-button:checked + .checkbox__control-mark::before {
  content: "";
  background-image: url("../img/tick.svg");
  position: absolute;
  left: 15%;
  top: 25%;
  width: 24px;
  height: 16px;

  @media (min-width: 768px) {
    background-image: url("../img/tick-tablet.svg");
    width: 32px;
    height: 22px;
  }
}

.color-section-form__checkbox-label {
  @media (min-width: 768px) {
    padding-top: 13px;
  }
}
