.contacts-section {
  background-color: #ffffff;
  margin: 23px 0 39px 0;

  @media (min-width: 768px) {
    margin-top: 38px;
  }

  @media (min-width: 1150px) {
    display: flex;
    width: 91.5%;
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 67px;
    margin-bottom: 58px;
  }
}

.contacts-section__wrapper {
  @media (min-width: 768px) {
    margin-bottom: 47px;
  }

  @media (min-width: 1150px) {
    width: 460px;
    margin-top: 62px;
    margin-left: 64px;
  }
}

.contacts-email__link {
  text-decoration: none;
}

.contacts-section-button {
  max-width: 159px;
  margin: 0 auto;
  padding: 14px 49px;

  @media (min-width: 768px) {
    margin-bottom: 57px;
    max-width: 154px;
    padding: 14px 36px;
  }

  @media (min-width: 1150px) {
    display: none;
  }
}

.contacts-section__adress-wrapper {
  padding: 0 26px;
  margin-bottom: 59px;

  @media (min-width: 768px) {
    padding: 0;
    margin-bottom: 0;
    margin-left: -2px;

    & tbody {
      display: flex;

      @media (min-width: 1150px) {
        flex-direction: column;
      }
    }
  }

  @media (min-width: 1150px) {
    flex-direction: column;
    margin-bottom: 81px;
    margin-left: 0;
  }
}
