
.contacts-section__email {
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;

  @media (min-width: 768px) {
    width: 50%;
  }

  @media (min-width: 1150px) {
    width: 60%;
    padding-left: 165px;
  }
}

.contacts-email__link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
}

.contacts-section__text {
  padding-right: 40px;
}
