.contacts-section__adress {
  margin-bottom: 60px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;

  @media (min-width: 768px) {
    width: 50%;
    text-align: end;
  }

  @media (min-width: 1150px) {
    padding-left: 150px;
  }
}
