
.contacts-section__email {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;

  @media (min-width: 768px) {
    display: flex;
    width: 50%;
    font-size: 17px;
  }

  @media (min-width: 1150px) {
    width: 80%;
    padding-left: 108px;
    padding-bottom: 25px;
  }
}

.contacts-email__link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;

  @media (min-width: 768px) {
    font-size: 17px;
  }

  @media (min-width: 1150px) {
    display: block;
    padding-bottom: 3px;
  }

  &:hover {
    color: #62d1ba;
  }

  &:active {
    border-bottom: 1px solid hsl(168, 55%, 60%, 0.1);
  }
}

.contacts-section__text {
  width: 74px;
  display: flex;

  @media (min-width: 768px) {
    display: block;
  }
}

.email-elements-button {
  &:hover {
    box-shadow: inset 0 -2px 0 #62d1ba;
  }

  &:active {
    box-shadow: inset 0 -2px 0 #62d1ba;
    color: #000000;
  }
}
