.contact-section-form__phone {
  padding: 0 30px;
  position: relative;
  margin-bottom: 35px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0;
    margin-bottom: 27px;
  }

  @media (min-width: 1150px) {
    grid-template-columns: 12.3% 86.2%;
  }

  &:hover .phone-elements-button__icon {
    fill: #62d1ba;
    opacity: 1;
  }
}

.contact-section-form__legend-phone {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  display: block;
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #63d1bb;
    top: 50%;
    left: 60px;
    right: 0;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.contact-section-form__phone-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  display: none;

  @media (min-width: 768px) {
    display: inline-block;
    padding-top: 13px;
  }
}

.phone-elements-button {
  &:hover {
    box-shadow: inset 0 -2px 0 #62d1ba;
  }

  &:active {
    box-shadow: inset 0 -2px 0 #62d1ba;
    color: #000000;
  }
}

.phone-elements-button__icon {
  position: absolute;
  right: 12%;
  top: 43%;
  width: 25px;
  height: 24px;
  opacity: 0.3;

  @media (min-width: 768px) {
    top: 20%;
    right: 4%;
  }

  @media (min-width: 1150px) {
    right: 13%;
    top: 15%;
  }
}
