.contacts-section__wrapper-title {
  margin-bottom: 28px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 1150px) {
    flex-direction: row-reverse;
  }
}

.contacts-section__title-image {
  display: none;
}
