.contacts-section__adress {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;

  @media (min-width: 768px) {
    width: 50%;
    display: flex;
    text-align: start;
    font-size: 17px;
  }

  @media (min-width: 1150px) {
    width: 80%;
    padding-left: 108px;
  }
}

.contacts-section__adress .contacts-section__text {
  padding-top: 26px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.contacts-section-adress__info {
  padding-top: 26px;

  @media (min-width: 768px) {
    width: 70%;
    padding: 0;
    padding-left: 5px;
  }

  @media (min-width: 1150px) {
    br {
      display: none;
    }
  }
}
