.contacts-section__wrapper-title {
  margin-bottom: 26px;
  padding: 1px 29px 0 29px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 38px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 25px;
    flex-direction: row-reverse;
  }
}

.contacts-section__title-image {
  display: none;

  @media (min-width: 768px) {
    display: block;
    padding-right: 3px;
  }
}

.contacts-section__title {
  @media (min-width: 768px) {
    padding-top: 16px;
  }

  @media (min-width: 1150px) {
    padding-top: 10px;
    padding-right: 77px;
  }
}
