.contact-section-form__email {
  padding: 0 30px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0;
  }

  @media (min-width: 1150px) {
    grid-template-columns: 1fr 6fr;
  }
}

.contact-section-form__legend-email {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  display: block;
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #63d1bb;
    top: 50%;
    left: 78px;
    right: 0;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.contact-section-form__email-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  display: none;

  @media (min-width: 768px) {
    display: inline-block;
  }
}
