.footer {
  background-color: #f1f1f1;
  width: 1150px;
  margin: 0 auto;
  outline: 1px solid #ff0000;

  @media (min-width: 768px) {
    display: flex;
  }
}

.footer__copyright {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}
