.form-top {
  background-color: #f1f1f1;
  min-height: 177px;

  @media (min-width: 768px) {
    margin-bottom: 39px;
    padding-top: 20px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 98px;
  }
}

.form-top__wrapper {
  width: 87%;
  margin: 0 auto;
  max-width: 1050px;

  @media (min-width: 1150px) {
    width: 91%;
  }
}

.border-bottom-image {
  @media (max-width: 767px) {
    display: none;
  }
}

.form-top__title {
  font-size: 27px;
  line-height: 30px;
  padding-bottom: 63px;
  text-align: center;
  padding-top: 73px;

  @media (min-width: 768px) {
    font-size: 43px;
    padding-top: 67px;
    padding-bottom: 72px;
  }

  @media (min-width: 1150px) {
    font-size: 53px;
    line-height: 57px;
    padding-top: 57px;
    padding-bottom: 80px;
  }
}

.form-section__description {
  margin: 0;
  padding: 0 29px;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;


  @media (min-width: 768px) {
    padding: 0;
    margin-bottom: 63px;
    width: 100%;
    font-size: 17px;
    line-height: 30px;

    br {
      display: none;
    }
  }

  @media (min-width: 1150px) {
    width: 75%;
    margin-left: 12.5%;
    margin-bottom: 62px;
  }
}
