.form-section-type {
  background-color: #ffffff;
  padding: 0 30px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0;
    margin-bottom: 27px;
  }

  @media (min-width: 1150px) {
    grid-template-columns: 12.2% 40%;
    margin-bottom: 27px;
  }
}

.legend-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  display: block;
  padding: 0;

  @media (min-width: 768px) {
    display: none;
  }
}

.form-section-type__legend {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #63d1bb;
    top: 50%;
    left: 60px;
    right: 0;
  }
}

.form-section-type__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  display: block;

  @media (max-width: 767px) {
    display: none;
  }

  @media (max-width: 768px) {
    padding-top: 18px;
  }

  @media (max-width: 1150px) {
    padding-top: 20px;
  }
}

.form-section-type__label,
.color-section-form__checkbox-label,
.username-section-form__label {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 19px;
    line-height: 18px;
  }
}

.form-section-type__radio-list,
.color-section-form__checkbox-list,
.username-section-form__list {
  margin: 0;
  list-style-type: none;
}

.form-section-type__label {
  display: block;
  padding-left: 61px;

  @media (min-width: 768px) {
    padding-left: 78px;
    padding-top: 10px;
  }

  @media (min-width: 1150px) {
    padding-left: 80px;
  }
}


.form-section-type__radio-list {
  padding: 30px 0 19px;

  @media (min-width: 768px) {
    padding: 0;
    padding-left: 2px;
  }
}

.form-section-type__radio-elements {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 42px;
  padding-bottom: 11px;

  @media (min-width: 768px) {
    padding-bottom: 33px;
  }
}

.form-section-type__control-mark {
  position: absolute;
  box-sizing: border-box;
  border-radius: 50%;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #000000;
  cursor: pointer;

  @media (min-width: 768px) {
    width: 52px;
    height: 52px;
  }

  &:hover {
    border: 2px solid #62d1ba;
  }

  &:active {
    border: 2px solid rgba(0, 0, 0, 0.3);
  }

  &:focus {
    outline: 4px solid rgb(45 177 169);
  }
}

.type-radio-button:checked + .form-section-type__control-mark::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 18px;
  height: 18px;
  background-color: #62d1ba;
  border-radius: 50%;

  @media (min-width: 768px) {
    width: 23px;
    height: 23px;
  }
}
