.form-top {
  background-color: #f1f1f1;
  outline: 1px solid #ff0000;
}

.form-top__wrapper {
  width: 1150px;
  margin: 0 auto;
}

.border-bottom-image {
  @media (max-width: 767px) {
    display: none;
  }
}
