.form-section__description-wrapper {
  width: 90%;
  min-width: 320px;
  margin: 0 auto;
  max-width: 1050px;
  padding-top: 17px;

  @media (min-width: 768px) {
    width: 87%;
  }

  @media (min-width: 1150px) {
    width: 81%;
    padding: 0;
  }
}
