.form-section-type {
  background-color: #ffffff;

  @media (min-width: 768px) {
    display: flex;
  }
}

.legend-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;

  @media (min-width: 768px) {
    display: none;
  }
}

.form-section-type__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  display: block;

  @media (max-width: 767px) {
    display: none;
  }
}

.form-section-type__label,
.color-section-form__checkbox-label,
.username-section-form__label {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
}

.form-section-type__radio-list,
.color-section-form__checkbox-list,
.username-section-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
