.hero-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hero-nav__link {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.hero-delivery-info {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}
