.hero-card__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    display: flex;
  }
}

.hero-card__link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding: 23px 30px;

  @media (min-width: 768px) {
    padding: 28px 30px;
  }
}

.hero-card__product {
  display: block;
  width: 130px;
}

.hero-card__item {
  background-color: #63d1bb;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.hero-card__item:nth-child(2n) {
  background-color: #56c3b2;
}
