.hero-section {
  width: 1150px;
  margin: 0 auto;
  background-image: url(/source/img/hero-desktop.jpg);
  position: relative;
}

.hero-section__wrapper {
  width: 1050px;
  margin: 0 auto;
}

.hero-nav {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 115px;
}

.hero-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
}

.hero-nav__item {
  list-style-type: none;
  padding-right: 50px;
}

.hero-nav__link {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.hero-delivery-info {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.hero-title {
  width: 700px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 355px;
}

.hero-card__list {
  display: grid;
  grid-template-columns: 525px 525px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hero-card__item {
  background-color: #56C3B2;
}

.hero-card__item:first-child {
  background-color: #63D1BB;
}

.hero-card__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 25px 36px;
}

.hero-card__product {
  width: 137px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.hero-white-line {
  position: absolute;
  bottom: -20px;
  right: 0;
}
