.hero-section {
  background-image: url("/source/img/hero-desktop.jpg");
  background-repeat: no-repeat;
}

.hero-title {
  padding: 73px 20px 120px;
  text-align: center;
}

.hero-white-line {
  display: none;
}
