.main-nav {
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;
  box-shadow: 0 1px 0 #ececec;
  align-items: center;
}

.main-nav__list {
  display: none;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: 1150px) {
    display: block;
  }
}

.main-nav__link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.header-logo {
  margin-left: 50px;
}
