.main-nav {
  display: flex;
}

.main-nav__list {
  display: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
  outline: 1px solid #008000;

  @media (min-width: 1150px) {
    display: block;
  }
}

.main-nav__link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.header-logo {
  outline: 1px solid #008000;
}
