.main-nav {
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;
  box-shadow: 0 1px 0 #ececec;
  align-items: center;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.main-nav__wrapper {
  @media (min-width: 768px) {
    order: 2;
  }

  @media (min-width: 1150px) {
    order: 1;
  }
}

.main-nav__list {
  display: none;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: 1150px) {
    display: flex;

    :nth-child(1) {
      padding-right: 15px;
    }

    :nth-child(2) {
      border-left: 1px solid #ececec;
      padding-left: 25px;
    }
  }
}

.main-nav__item {
  @media (min-width: 1150px) {
    padding: 30px 0 30px 0;
  }
}

.main-nav__link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.header-logo {
  margin-left: 50px;

  @media (min-width: 768px) {
    order: 1;
    margin: 0;
  }

  @media (min-width: 1150px) {
    order: 2;
    margin: 0;
  }
}
