.product-card__list {
  margin: 0;
  padding: 0 30px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    padding: 0;
  }

  @media (min-width: 1150px) {
    display: grid;
    grid-template-columns: 316px 316px 316px;
    grid-gap: 20px;
    align-items: baseline;
    justify-content: space-between;
  }
}

.product-card__item {
  border: 1px solid #ececec;
  margin-bottom: 29px;

  @media (min-width: 768px) {
    margin-bottom: 52px;
  }

  &-description {
    margin: 0 auto;
    padding: 27px;

    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
    }

    @media (min-width: 1150px) {
      padding: 28px 21px 24px 25px;
      height: 100%;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    width: 100%;
  }

  @media (min-width: 1150px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    height: 100%;
  }

  &:hover {
    border: 1px solid #ececec;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    border: 1px solid #ececec;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  &:hover .product-card__link-subtitle {
    opacity: 0.6;
  }

  &:active .product-card__link-subtitle {
    opacity: 0.3;
  }

  &:hover .user-nav__icon {
    fill: #63d1bb;
    opacity: 1;
  }

  &:active .user-nav__icon {
    fill: #63d1bb;
    opacity: 0.3;
  }
}

.product-card__link-buy {
  @media (min-width: 1150px) {
    display: block;
    padding-right: 12px;
  }
}

.product-card__item img {
  display: block;
  min-width: 260px;
  min-height: 195px;
}

.product-card__link-subtitle {
  margin: 0 0 6px 0;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
    margin: 1px 0 6px 0;
  }
}

.product-card__link-parameters {
  display: block;
  padding-bottom: 17px;

  @media (min-width: 768px) {
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: 1150px) {
    padding-bottom: 11px;
  }
}

.product-card__link-price {
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ececec;

  @media (min-width: 768px) {
    margin-top: auto;
    min-width: 268px;
  }
}
