.production {
  background-color: #ffffff;
  width: 1150px;
  margin: 0 auto;
  outline: 1px solid #ff0000;
}

.production-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: 1150px) {
    flex-direction: row;
  }
}

.production__description-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
