.production {
  background-color: #ffffff;
  margin-bottom: 58px;

  @media (min-width: 768px) {
    margin-bottom: 62px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 105px;
  }
}

.production-wrapper {
  width: 80%;
  min-width: 260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;

  @media (min-width: 768px) {
    width: 87%;
    margin: 0 auto;
  }

  @media (min-width: 1150px) {
    width: 91.5%;
    max-width: 1050px;
    flex-direction: row;
  }
}

.production-title__mobile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 22px 29px 26px 18px;
}

.production-video {
  position: relative;
  margin-bottom: 35px;

  @media (min-width: 768px) {
    margin: 0;
  }

  @media (min-width: 1150px) {
    min-width: 682px;
  }
}

.production-video img {
  display: block;
  margin: 0 auto;
}

.production-video__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  width: 120px;
  height: 78px;
  background-color: inherit;

  @media (min-width: 768px) {
    width: 123px;
    height: 80px;
  }

  &:hover {
    width: 121px;
    height: 92px;
  }

  &:active {
    width: 81px;
    height: 62px;
    opacity: 0.3;
  }
}

.production-description__info {
  padding: 0 33px;
  margin-bottom: 41px;
}

.production-description__button {
  width: 188px;
  margin: 0 auto;
  text-align: center;
  padding: 14px 0;
  margin-bottom: 33px;

  @media (min-width: 768px) {
    width: 580px;
    margin-bottom: 0;
  }

  @media (min-width: 1150px) {
    width: 228px;
  }
}
