.reviews-slider-section__wrapper {
  padding: 0 30px;
}

.reviews-slider-section__description {
  margin-bottom: 33px;
}

.reviews__usermail {
  display: block;
  margin-bottom: 30px;
}

.reviews-slider-button__prev,
.reviews-slider-button__next {
  border: 1px solid #ececec;
  background-color: inherit;
  width: 125px;
  height: 52px;
  margin-bottom: 38px;
}

.reviews-button {
  max-width: 96px;
  margin: 0 auto;
  padding: 14px 80px;
  margin-bottom: 45px;
}
