.reviews-slider-section__wrapper {
  padding: 0 30px;

  @media (min-width: 768px) {
    position: relative;
    padding: 0;
    padding-bottom: 20px;

    br {
      display: none;
    }
  }

  @media (min-width: 1150px) {
    padding-left: 175px;
    padding-bottom: 67px;
  }
}

.reviews-slider-section__description {
  margin-top: 16px;
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 30px;

  @media (min-width: 768px) {
    position: inherit;
    margin-bottom: 61px;
    font-size: 17px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 43px;
  }
}

.reviews-slider-section__reviews-user {
  @media (min-width: 768px) {
    position: inherit;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: 1150px) {
    font-size: 17px;
  }
}

.reviews-slider-section__reviews-usermail {
  display: block;
  margin-bottom: 34px;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: 768px) {
    position: inherit;
  }
}

.reviews-slider-section__image {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    left: -52px;
    top: 0;
    height: 100%;
  }

  @media (min-width: 1150px) {
    left: 0;
  }
}

.reviews-slider-section__button-prev,
.reviews-slider-section__button-next {
  padding: 0;
  border: 1px solid #ececec;
  background-color: inherit;
  width: 130px;
  height: 52px;
  margin-bottom: 36px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews-slider-section__button-prev {
  @media (min-width: 768px) {
    position: absolute;
    padding: 0;
    right: 100px;
    bottom: 50px;
    border: none;
    width: 60px;
    margin: 0;
  }

  @media (min-width: 1150px) {
    bottom: 98px;
  }
}

.reviews-slider-section__button-next {
  margin-left: -5px;

  @media (min-width: 768px) {
    position: absolute;
    padding: 0;
    right: 15px;
    bottom: 50px;
    border: none;
    width: 60px;
    margin: 0;
  }

  @media (min-width: 1150px) {
    bottom: 98px;
  }
}

.reviews-button {
  max-width: 96px;
  margin: 0 auto;
  padding: 14px 80px;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    padding: 14px 38px;
    right: 0;
    top: 78px;
    margin: 0;
  }

  @media (min-width: 1150px) {
    top: 79px;
    padding: 14px 39px;
  }
}

.reviews-slider-section__title {
  @media (min-width: 768px) {
    position: inherit;
    padding-top: 83px;
    margin-bottom: 38px;
  }

  @media (min-width: 1150px) {
    padding-top: 78px;
    margin-bottom: 36px;
  }
}
