.reviews-slider-section {
  background-color: #ffffff;
  margin-bottom: 38px;
}

.reviews__user {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  &-usermail {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #444444;
  }
}
