.user-nav {
  @media (min-width: 768px) {
    order: 4;
  }
}

.user-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}

.user-nav__item {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;

  @media (min-width: 768px) {
    border-left: 1px solid #ececec;
  }
}

.user-nav__link {
  @media (min-width: 768px) {
    display: inline-block;
    padding: 30px 32px;
  }
}
