.user-nav {
  @media (min-width: 768px) {
    order: 4;
  }
}

.user-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}

.user-nav__item {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;

  @media (min-width: 768px) {
    border-left: 1px solid #ececec;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover svg {
    fill: #63d1bb;
    opacity: 1;
  }

  &:active svg {
    fill: #63d1bb;
    opacity: 0.3;
  }
}

.user-nav__item:hover span {
  opacity: 0.6;
}

.product-card__link-buy-icon {
  opacity: 0.2;
}

.user-nav__icon {
  opacity: 0.2;
}

.user-nav__link {
  @media (min-width: 768px) {
    display: inline-block;
    padding: 35px 31px 29px 31px;
  }

  @media (min-width: 1150px) {
    padding: 35px 31px 29px 31px;
  }
}


.user-nav__item span {
  @media (min-width: 1150px) {
    display: inline-block;
    padding-right: 3px;
  }
}
