.user-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.user-nav__item {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}
