.username-section-form {
  background-color: #ffffff;

  @media (min-width: 768px) {
    display: flex;
  }
}

.username-section-form__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  display: block;

  @media (max-width: 767px) {
    display: none;
  }
}
