.username-section {
  margin-bottom: 12px;

  @media (min-width: 1150px) {
    margin: 0;
  }
}

.username-section__wrapper {
  width: 90%;
  min-width: 320px;
  margin: 0 auto;
  max-width: 1150px;

  @media (min-width: 768px) {
    width: 87%;
  }

  @media (min-width: 1150px) {
    width: 81%;
  }
}
