.weeks-product-section {
  background-color: #fff;
  width: 1150px;
  margin: 0 auto;
  outline: 1px solid red;
}

.weeks-product-section__subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  color: #63D1BB;
}

.weeks-product-section__price {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #444444;
}
