.weeks-product-section__description-parameters {
  margin-bottom: 31px;

  @media (min-width: 768px) {
    margin-bottom: 61px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 113px;
  }
}

.product-table__description {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  border-bottom: 1px solid #ececec;
  height: 39px;

  @media (min-width: 1150px) {
    height: 40px;
  }
}
