.weeks-product-section {
  background-color: #ffffff;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    margin-bottom: 50px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 73px;
  }
}

.weeks-product-section__wrapper {
  padding: 31px 30px 0 30px;

  @media (min-width: 768px) {
    position: relative;
    padding: 55px 25px 0 0;
  }

  @media (min-width: 1150px) {
    padding: 0;
  }
}

.weeks-product-section__description-wrapper {
  @media (min-width: 768px) {
    width: 50%;
  }

  @media (min-width: 1150px) {
    width: 300px;
    margin-left: 176px;
  }
}

.weeks-product-section__subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
  display: block;

  @media (min-width: 768px) {
    font-size: 17px;
    line-height: 17px;
    width: 75px;
    text-align: center;
    padding-top: 5px;
  }

  @media (min-width: 1150px) {
    margin-left: 45px;
    margin-right: 56px;
    margin-top: 4px;
  }
}

.weeks-product-section__price {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  display: block;
  text-align: center;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    padding-right: 33px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px;
  }

  @media (min-width: 1150px) {
    padding-right: 8px;
  }
}

.weeks-product-section__images {
  margin-bottom: 22px;
  text-align: center;

  @media (min-width: 768px) {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 334px;
    margin-bottom: -5px;
  }

  @media (min-width: 1150px) {
    width: 525px;
  }
}

.weeks-product-section__button {
  padding: 14px 81px;
  max-width: 95px;
  margin: 0 auto;

  @media (min-width: 768px) {
    margin: 0;
    padding: 14px 97px;
  }

  @media (min-width: 1150px) {
    max-width: 91px;
    padding: 14px 99px;
  }
}

.weeks-product-section__title {
  margin-bottom: 5px;

  @media (min-width: 1150px) {
    z-index: 1;
  }
}

.weeks-product-section__wrapper-title {
  margin-bottom: 17px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
  }

  @media (min-width: 1150px) {
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin: 0;
    padding-top: 123px;
    margin-bottom: 32px;
  }
}

.weeks-product-section__about {
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: 768px) {
    padding-right: 30px;
    margin-bottom: 38px;
    min-height: 90px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 50px;
    padding: 0;
  }
}

.weeks-product-section__description-parameters {
  margin-bottom: 31px;

  @media (min-width: 768px) {
    margin-bottom: 61px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 113px;
  }
}

.product-table__description {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  border-bottom: 1px solid #ececec;
  height: 39px;

  @media (min-width: 1150px) {
    height: 40px;
  }
}
