.wishes-section-form {
  background-color: #ffffff;
  padding: 0 30px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.wishes-section-form__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  display: block;

  @media (max-width: 767px) {
    display: none;
  }
}

.wishes-section-form__wrapper {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 53px;
  }

  @media (min-width: 1150px) {
    grid-template-columns: 1fr 6fr;
  }
}

.wishes-section-button__wrapper {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: 1150px) {
    width: 72%;
    margin-left: 14.5%;
  }
}

.wishes-section-form__legend {
  position: relative;
  width: 100%;
  margin-bottom: 22px;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #63d1bb;
    top: 50%;
    left: 60px;
    right: 0;
  }
}

.wishes-section-form__textarea {
  width: 100%;
  border: 2px solid #444444;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 17px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  @media (min-width: 1150px) {
    width: 85%;
  }
}

.wishes-section-button {
  margin: 0 auto;
  padding: 14px 45px;
  background-color: inherit;

  @media (min-width: 768px) {
    padding: 14px 30px;
    margin: 0;
  }
}

.forms-desription {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin: 0;
  }
}
