body {
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;

  @media (min-width: 1050px) {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
    color: #000000;
    margin: 0;
  }
}

.description {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;

  @media (min-width: 1050px) {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #444444;
    margin: 0;
  }
}

.button {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  text-decoration: none;
  border: 2px solid #444444;
  display: block;
}

.container {
  outline: 1px solid #0000ff;
  width: 90%;
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 90%;
    margin: 0 auto;
  }

  @media (min-width: 1150px) {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
  }
}
