@import "./fonts.scss";
@import "./common-styles.scss";
@import "./blocks/main-header.scss";
@import "./blocks/hero-section.scss";
@import "./blocks/about-us-section.scss";
@import "./blocks/contacts-section.scss";
@import "./blocks/footer.scss";
@import "./blocks/reviews-slider-section.scss";
@import "./blocks/weeks-product-section.scss";
@import "./blocks/form-top.scss";
@import "./blocks/form-section-type.scss";
@import "./blocks/color-section.scss";
@import "./blocks/contact-section.scss";
@import "./blocks/wishes-section.scss";
@import "./blocks/catalog-top.scss";
@import "./blocks/product-card.scss";
@import "./blocks/production.scss";
@import "./blocks/form-section.scss";
@import "./blocks/footer-social.scss";
@import "./blocks/hero-nav.scss";
@import "./blocks/hero-card.scss";
@import "./blocks/user-nav.scss";
@import "./blocks/main-nav.scss";
@import "./variables.scss";
@import "./blocks/weeks-product-section__wrapper-title.scss";
@import "./blocks/mobile-nav.scss";
@import "./blocks/header-logo.scss";
@import "./blocks/contacts-section__wrapper-title.scss";
@import "./blocks/footer-logo.scss";
